.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #444;
  padding: 1.2rem 5rem;
  position: relative;
}
.header-logo {
  width: 80px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.header-auth {
  display: flex;
  align-items: center;
}
.text-btn {
  text-transform: uppercase;
}

.text-btn:hover,
.text-btn:active {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  text-shadow: 0 0.7rem 1rem black;
}
.header-btn {
  border: 1px solid white;
  border-radius: 30px;
  padding: 0.6rem 1.8rem;
  margin: 0 0 0 1rem;
  transition: all 0.2s;
  text-transform: uppercase;
}
.header-btn:hover,
.header-btn:active {
  background-color: white;
  color: black;
}
.header-nav {
  text-decoration: none;
  color: white;
}
.header-user-box {
  display: flex;
  padding-left: 2rem;
  align-items: center;
}
.header-user-box p {
  margin-left: 0.8rem;
  font-size: 1rem;
  text-transform: uppercase;
  max-width: 9rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
