.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #444;
  padding: 1.5rem 5rem;
}
.header-logo {
  width: 80px;
  height: auto;
}
.header-auth {
  display: flex;
  align-items: center;
}
.header-btn {
  border: 1px solid white;
  border-radius: 30px;
  padding: 0.6rem 1.8rem;
  margin: 0 1rem;
}
.header-nav {
  text-decoration: none;
  color: white;
}
