.review-item-container {
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid lightgray;
}
.review-info {
  display: flex;
  align-items: center;
}
.review-info p {
  margin-left: 1.5rem;
  margin-bottom: 0.3rem;
  font-weight: 700;
}
.review-created-time {
  color: darkgray;
}
.review-stars-icon {
  font-size: 1.2rem;
  color: #7dd56f;
}
